<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "cl.patache.apklms2"
        versionCode = "20180"
        version   = "3.3.0">
    <name>Patache LMS 2</name>

    <description>
        Lms para Android
    </description>

    <author href="http://www.patache.cl" email="fcontrerasz@gmail.com">
       Francisco Contreras 2
    </author>

    <gap:platform name="android" />

    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />

    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />

    <allow-intent href="*" />

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="stay-in-webview"  value="false" />
    <preference name="webviewbounce"    value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="load-url-timeout" value="60000" />
    <preference name="AppendUserAgent" value="MoodleMobile" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="android-installLocation" value="auto" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>

    <preference name="AndroidPersistentFileLocation"    value="Compatibility" />
    <preference name="iosPersistentFileLocation"        value="Compatibility" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <platform name="android">
        <icon src="resources/android/icon/drawable-ldpi-icon.png" qualifier="ldpi"/>
        <icon src="resources/android/icon/drawable-mdpi-icon.png" qualifier="mdpi"/>
        <icon src="resources/android/icon/drawable-hdpi-icon.png" qualifier="hdpi"/>
        <icon src="resources/android/icon/drawable-xhdpi-icon.png" qualifier="xhdpi"/>
        <icon src="resources/android/icon/drawable-xxhdpi-icon.png" qualifier="xxhdpi"/>
        <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" qualifier="xxxhdpi"/>
        <splash src="resources/android/splash/drawable-land-ldpi-screen.png" qualifier="land-ldpi"/>
        <splash src="resources/android/splash/drawable-land-mdpi-screen.png" qualifier="land-mdpi"/>
        <splash src="resources/android/splash/drawable-land-hdpi-screen.png" qualifier="land-hdpi"/>
        <splash src="resources/android/splash/drawable-land-xhdpi-screen.png" qualifier="land-xhdpi"/>
        <splash src="resources/android/splash/drawable-land-xxhdpi-screen.png" qualifier="land-xxhdpi"/>
        <splash src="resources/android/splash/drawable-land-xxxhdpi-screen.png" qualifier="land-xxxhdpi"/>
        <splash src="resources/android/splash/drawable-port-ldpi-screen.png" qualifier="port-ldpi"/>
        <splash src="resources/android/splash/drawable-port-mdpi-screen.png" qualifier="port-mdpi"/>
        <splash src="resources/android/splash/drawable-port-hdpi-screen.png" qualifier="port-hdpi"/>
        <splash src="resources/android/splash/drawable-port-xhdpi-screen.png" qualifier="port-xhdpi"/>
        <splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" qualifier="port-xxhdpi"/>
        <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" qualifier="port-xxxhdpi"/>
    </platform>

    <gap:plugin name="cordova-plugin-camera" source="npm" />
    <gap:plugin name="cordova-plugin-media-capture" source="npm">
        <param name="CAMERA_USAGE_DESCRIPTION" value="We'd like to access your camera to let you take a photo"/>
        <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We'd like to access your photo library to let you pick a photo"/>
        <param name="MICROPHONE_USAGE_DESCRIPTION" value="We'd like to access your microphone to let you record an audio"/>
    </gap:plugin>
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-globalization" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-universal-clipboard" source="npm" />
    <gap:plugin name="nl.kingsquare.cordova.background-audio" source="npm" />

    <gap:plugin name="phonegap-plugin-push" source="npm" version="1.9.2">
        <param name="SENDER_ID" value="694767596569" />
    </gap:plugin>
    <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
        <param name="URL_SCHEME" value="moodlemobile" />
    </gap:plugin>
    <gap:plugin name="ionic-plugin-keyboard" source="npm" />
    <gap:plugin name="cordova-plugin-zip" source="npm" />
    <gap:plugin name="cordova-plugin-local-notifications-mm" source="npm" />
    <gap:plugin name="net.tunts.webintent" spec="https://github.com/Tunts/WebIntent.git" source="git" />
    <gap:plugin name="ch.ti8m.documenthandler" spec="https://github.com/ti8m/DocumentHandler.git" source="git" />

    <gap:config-file platform="android" parent="/manifest">
         <application android:debuggable="true" />
    </gap:config-file>

    <!-- See MOBILE-892 -->
    <preference name="permissions" value="none"/>

    <gap:config-file platform="android" parent="/manifest" mode="delete">
        <uses-permission android:name="android.permission.WRITE_CONTACTS" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.VIBRATE"/>
    </gap:config-file>

    

</widget>
