<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150945210205-o3f5l8c5gc65u7ul99ui8j7peea0dgiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150945210205-o3f5l8c5gc65u7ul99ui8j7peea0dgiq</string>
	<key>API_KEY</key>
	<string>AIzaSyAy0u8CKvXXSI80yFUs8IYK11OX2Ua1pm0</string>
	<key>GCM_SENDER_ID</key>
	<string>150945210205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kandel.gasingschool</string>
	<key>PROJECT_ID</key>
	<string>gasing-school</string>
	<key>STORAGE_BUCKET</key>
	<string>gasing-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150945210205:android:9bbb54997e86dfef7b52b4</string>
	<key>DATABASE_URL</key>
	<string>https://moodlemobile-push.firebaseio.com</string>
</dict>
</plist>
