<ion-header-bar class="bar-assertive">
    <h1 class="title">Search</h1>
  </ion-header-bar><!-- <ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}"> -->

<ion-view view-title="USER LOGIN" >

<ion-content>
<ion-view title="Tabs">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="LOGIN" icon="ion-android-person"> 


   <ion-content style="background-color: rgb(51, 188, 225);" class="has-header" scroll="true" padding="true">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/5dUTwdkTIaQWu7KjRQur_dx1.png" width="100%" height="auto">
        </div>
        <form class="list" id="wELCOME-form1">
            <ion-list id="wELCOME-list1">
                <label id="wELCOME-input1" class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off">
                </label>
                <label id="wELCOME-input2" class="item item-input">
                    <span class="input-label">Password</span>
                     <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a class="button button-light  button-block" id="wELCOME-button1" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</a>
            <a class="button button-positive  button-block button-clear" style="color:#FFFFFF;" id="wELCOME-button2" href="http://www.dexlearn.com/login/signup.php" mm-browser>Or create an account</a>             
        </form>              
    </ion-content>



        </ion-tab>



          <ion-tab title="ABOUT" icon="ion-ios-people">
           
                         
      <ion-view style="background-color: rgb(80, 205, 241);" id="page8" title="ABOUT">
    <ion-content  padding="true">
        <h4 style="color: rgb(255, 255, 255);" id="aBOUT-heading1">About DexLearn</h4>
        <img class="icon ion-image" src="img/cL1Ti9xPQbqnoefnAerJ_slide7.jpg" style="width: 100%;">    
        <div style="color:#FFFFFF;" id="aBOUT-markdown1">
            <p>Soft skills are increasingly becoming the hard skills of today's work force. It is just not enough to be highly trained in technical skills, without developing the softer, interpersonal and relationship-building skills that help people to
                communicate and collaborate effectively.</p>

            <p>This is what gave birth to DexLearn.</p>
        </div>
        <div style="" id="aBOUT-list-item-container1" class="item item-body">
            <div style="margin-top:0px;color:#000000;" id="aBOUT-markdown2">
                <p>DexLearn is a next-generation online learning platform built for individuals and businesses striving to stay at the forefront of innovation and bring teams up to speed with people skills. It is specifically designed to offer relevant,
                    on-demand skills training for work ethic, teamwork, leadership, communication skills, emotional intelligence and a whole host of other personal attributes crucial for career success in the skills-driven economy.</p>

                <p>With DexLearn, you can save time, money, and resources with effective, on-demand skills training anytime, anywhere.</p>
            </div>
        </div>
        <div style="width: 249.267px; height: 34px;" class="spacer"></div>
    </ion-content>
</ion-view>
         


            </ion-tab>
         




          <ion-tab title="COURSES" icon="ion-ios-monitor-outline">
            <ion-content padding="true" class="has-header">
   <ion-view style="background-color: rgb(80, 205, 241);" id="page9" title="COURSES">
    <ion-content  padding="true">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/t22QFfkSjuDtEzvJI7Cg_slide5.jpg" width="100%" height="auto">
        </div>


<h4>MANAGEMENT AND ADMINISTRATION</h4> 
         
<ion-item>Teamwork and Team Building</ion-item>
 <ion-item>Supervising Others</ion-item>
 <ion-item>Meeting Management</ion-item>
  <ion-item>High Performance Teams</ion-item>
  <ion-item>Supply Chain Management</ion-item>

 <button class="button button-stable button-block" href="https://www.dexlearn.com/login/signup.php" mm-browser >{{ 'ENROL ONLINE' | translate }}</button>  <button class="button button-stable button-block" href="https://www.dexlearn.com/course/index.php?categoryid=5" mm-browser >{{ 'FIND OUT MORE' | translate }}</button>

</br><h4>PERSONAL DEVELOPMENT</h4>
<div>
 <ion-item>Personal Productivity</ion-item>
 <ion-item>Increasing Self Awareness</ion-item>
 <ion-item>Job Search Skills</ion-item>
 <ion-item>Personal Branding</ion-item>
 <ion-item>Civility In The Workplace</ion-item>
 <ion-item>Attention Management</ion-item>
                   
</div>  
<button class="button button-stable button-block" href="https://www.dexlearn.com/login/signup.php" mm-browser >{{ 'ENROL ONLINE' | translate }}</button>  <button class="button button-stable button-block" href="https://www.dexlearn.com/course/index.php?categoryid=6" mm-browser >{{ 'FIND OUT MORE' | translate }}</button>

</br><h4>BUSINESS</h4>
<div>
 <ion-item>Networking Outside The Company</ion-item>
 <ion-item>Business Etiquette</ion-item>
 <ion-item>Business Ethics</ion-item>
 <ion-item>Sales Fundamentals</ion-item>
 <ion-item>Prospecting and Lead Generation</ion-item>
 <ion-item>Customer Service</ion-item>
                   
</div>  
<button class="button button-stable button-block" href="https://www.dexlearn.com/login/signup.php" mm-browser >{{ 'ENROL ONLINE' | translate }}</button>  <button class="button button-stable button-block" href="https://www.dexlearn.com/course/index.php?categoryid=3" mm-browser >{{ 'FIND OUT MORE' | translate }}</button>

</br><h4>PROFESSIONAL EXAM PREP</h4>
<div>
 <ion-item>COBIT 5</ion-item>
 <ion-item>ITIL Intermediate SO</ion-item>
 <ion-item>ITIL Intermediate CSI</ion-item>
 <ion-item>Managing Successful Programmes-Practitioner</ion-item>
 <ion-item>Prospecting and Lead Generation-Foundation</ion-item>
 <ion-item>Risk Management PMI-RMP</ion-item>
                   
</div>  
<button class="button button-stable button-block" href="https://www.dexlearn.com/login/signup.php" mm-browser >{{ 'ENROL ONLINE' | translate }}</button>  <button class="button button-stable button-block" href="https://www.dexlearn.com/course/index.php?categoryid=2" mm-browser >{{ 'FIND OUT MORE' | translate }}</button>


    </ion-content>
</ion-view>


    </ion-content>        
        </ion-tab>
        
       <ion-tab title="CONTACT" icon="ion-android-call">
<ion-view style="background-color: rgb(80, 205, 241);" id="page10" title="CONTACT">
    <ion-content scroll="false" padding="true">
        <div style="background-color: rgb(80, 205, 241);" id="cONTACT-list-item-container2" class="item item-body">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/JTXslXNTR2XCG8rtnYqg_Contact-Us.png" width="100%" height="auto">
            </div>
              <div style="margin-top:0px;color:#000000;" id="cONTACT-markdown3">
                <p>
                    <strong>Email:</strong>support@dexlearn.com</p>

                <p>
                    <strong>Tel:</strong>+234 8177772051</p>

                <p>
                    <strong>Skype:</strong>DexLearnLMS</p>
                     <p>
                    <strong>Facebook:</strong>DexLearn</p>
                     <p>
                    <strong>Twitter:</strong>DexLearn</p>
            </div>
        </div>
    </ion-content>
</ion-view>
</ion-view>









