
.mm-mm_login_sites {
  .item-thumbnail-left .item-content {
    padding-top: $item-padding;
    padding-right: $item-padding;
  }

  .list-left-editing .item-thumbnail-left .item-content {
    padding-right: (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5);
  }
  

 .avatar {
    margin: 0;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    padding: 4px;
	border-radius: 50%;
		 }
		 

.logo {
    margin: 0;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    padding: 4px;
	text-align: center;
	 }
 
}

.mm-login-sitepolicy-iframe {
  height: 300px;
}
